a.prev:hover,
a.next:hover {
    background-color: #ffd700;
}

.footerstress {
    border: solid #ffd700;
    border-width: 1px 0 0;
    clear: both;
    margin: -9px 0px 17px;
}

.testimonial-name {
    color: #ffd700;
}

.vuzz-pricing-table > div {
    border-top: #ffd700 3px solid;
}

.vuzz-pricing-table .vuzz-pricing-cost {
    background: #ffd700;
}

.vuzz-pricing-table .vuzz-pricing-per {
    background: #ffd700;
}

.hometitlebg {
    background: #ffd700;
}

.colortitlebg {
    background: #ffd700;
}

.neutralbutton {
    background: #ffd700;
}

.serviceicon {
    background-color: #ffd700;
}

.subtitle {
    border-bottom: #ffd700 1px solid;
}

.wrapaction {
    border-left: #ffd700 3px solid;
    background: #fff;
}

.actionbutton {
    background-color: #ffd700;
}

.stresstitle {
    border-bottom: #ffd700 1px solid;
}

.undermenuarea {
    background: #ffd700 url(assets/images/noise.png) repeat;
}

.noshadowbox {
    background: #fff;
}

.progressdefault {
    background: #ffd700;
}

.simplebox {
    border-left: 1px solid #ffd700;
}

.simpleboxicon {
    color: #FFFF00;
}

.colorme {
    color: #ffd700;
}

.buttonprice {
    background: #ffd700;
    color: #fff;
    border: 0px;
}

a.expandAll {
    background: #ffd700;
}

.wrapactiondefault {
    border-left: #ffd700 2px solid;
}
